<header>
    <!-- Topbar Start -->
    <Navbar-backoffice></Navbar-backoffice>
    <!-- Topbar End -->
</header>

<main>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-5">
                <h2>Diagnostiques</h2>
                <Liste-diagnostique
                    [diagnostiques]="diagnostics"
                ></Liste-diagnostique>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-5">
                <h2>Realisations</h2>
                <Liste-realisation
                    [realisations]="realisations"
                ></Liste-realisation>
            </div>
        </div>
    </div>
</main>
