<div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Référence</th>
                <th scope="col">Date de début</th>
                <th scope="col">Date de fin</th>
                <th scope="col">Statut</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let realisation of realisations">
                <th scope="row">{{ realisation.reference }}</th>
                <td>{{ realisation.dateDebut | date: 'dd/MM/yyyy' }}</td>
                <td>{{ realisation.dateFin | date: 'dd/MM/yyyy' }}</td>
                <td>{{ realisation.status }}</td>
                <td><button class="btn btn-primary" (click)="showDetails(realisation)">Détails</button></td>
            </tr>
        </tbody>
    </table>
</div>