<div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Référence</th>
                <th scope="col">Date de début</th>
                <th scope="col">Date de fin</th>
                <th scope="col">Statut</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let diagnostique of diagnostiques">
                <th scope="row">{{ diagnostique.reference }}</th>
                <td>{{ diagnostique.prestations }}</td>
                <td>{{ diagnostique.dateDebut | date: 'dd/MM/yyyy' }}</td>
                <td>{{ diagnostique.dateFin | date: 'dd/MM/yyyy' }}</td>
                <td>{{ diagnostique.status }}</td>
                <td><button class="btn btn-primary" (click)="showDetails(diagnostique)">Détails</button></td>
            </tr>
        </tbody>
    </table>
</div>
