<header>
    <!-- Topbar Start -->
    <Top-bar></Top-bar>
    <!-- Topbar End -->
  
    <!-- Navbar Start -->
    <Navbar></Navbar>
    <!-- Navbar End -->
</header>
<main>
    <div class="container py-5">
        <app-item-prestation
            *ngFor="let prestation of prestations"
            [nom]="prestation.nom"
            [details]="prestation.details"
        >
        </app-item-prestation>
    </div>
</main>
<footer>
    <!-- Footer Start -->
    <Footer-garage></Footer-garage>
    <!-- Footer End -->
</footer>