<div class="center-container">
  <div class="container">

    <!-- Message Toast Component -->
    <message-toast [message]="message" [show]="showMessage"></message-toast>
    <message-error-toast [message]="message" [show]="showMessageError"></message-error-toast>

    <div class="row">
      <div class="text-center mb-4">
        <!-- Toggle Buttons -->
        <button class="btn btn-secondary me-2 wow zoomIn" (click)="toggleLogin()" *ngIf="showRegister"
          data-wow-delay="0.5s">
          Se connecter
        </button>
        <button class="btn btn-success wow zoomIn" (click)="toggleRegister()" *ngIf="showLogin" data-wow-delay="0.5s">
          S'inscrire
        </button>
      </div>
    </div>

    <div class="row">
      <!-- Login Form -->
      <div class="col-lg-3"></div>
      <div class="col-lg-6" *ngIf="showLogin">
        <div class="bg-secondary h-100 d-flex flex-column text-center justify-content-center p-5 wow zoomIn"
          data-wow-delay="0.6s">
          <h1 class="text-white mb-4">Se connecter</h1>
          <form (ngSubmit)="login()" #loginForm="ngForm">
            <div class="row g-3">
              <div class="col-12 col-sm-12">
                <input type="email" class="form-control border-0" placeholder="Email" style="height: 55px;"
                  [(ngModel)]="user.email" name="email" />
              </div>
              <div class="col-12 col-sm-12">
                <input type="password" class="form-control border-0" placeholder="Mot de passe" style="height: 55px;"
                  [(ngModel)]="user.password" name="password" />
              </div>
              <div class="col-12">
                <button class="btn btn-success w-100 py-3" type="submit"
                  [disabled]="loginForm.invalid">Connecter</button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="col-lg-3"></div>
    </div>

    <div class="row">
      <!-- Sign-Up Form -->
      <div class="col-lg-3"></div>
      <div class="col-lg-6" *ngIf="showRegister">
        <div class="bg-secondary h-100 d-flex flex-column text-center justify-content-center p-5 wow zoomIn"
          data-wow-delay="0.6s">
          <h1 class="text-white mb-4">Inscription</h1>
          <form (ngSubmit)="register()" #registerForm="ngForm">
            <div class="row g-3">
              <div class="col-12 col-sm-6">
                <input type="text" class="form-control border-0" placeholder="Nom" style="height: 55px;"
                  [(ngModel)]="user.name" name="name" />
              </div>
              <div class="col-12 col-sm-6">
                <input type="text" class="form-control border-0" placeholder="Prénom" style="height: 55px;"
                  [(ngModel)]="user.firstName" name="firstName" />
              </div>
              <div class="col-12 col-sm-12">
                <input type="email" class="form-control border-0" placeholder="Email" style="height: 55px;"
                  [(ngModel)]="user.email" name="email" />
              </div>
              <div class="col-12 col-sm-12">
                <input type="password" class="form-control border-0" placeholder="Mot de passe" style="height: 55px;"
                  [(ngModel)]="user.password" name="password" />
              </div>
              <div class="col-12 col-sm-12">
                <input type="password" class="form-control border-0" placeholder="Confirmation du mot de passe"
                  style="height: 55px;" [(ngModel)]="confirmPassword" name="confirmPassword" />
              </div>
              <div class="col-12">
                <button class="btn btn-success w-100 py-3" type="submit"
                  [disabled]="registerForm.invalid">S'inscrire</button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="col-lg-3"></div>
    </div>
  </div>
</div>